/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 0.0% 100.0%, rgb(249,247,247) 0.0, rgb(204,204,204) 100.0);
	-fx-effect: dropshadow( one-pass-box , rgb(255,255,255) , 0, 0.0 , 1 , 1 );
}

.TfSessao{
	-fx-background-color: rgb(239,239,239);
	-fx-border-color: rgb(173,173,173);
	-fx-border-radius: 5px;
	-fx-text-fill: rgb(130,130,130);
}

.textoBsp {
	-fx-text-fill: rgb(143,143,143);
	-fx-effect: dropshadow( one-pass-box , rgb(255,255,255) , 0, 0.0 , 1 , 1 );
}